# Dependencias
/node_modules/


# Archivos de migraciones en dev suelen versionarse (¡no los ignores!), pero
# si llegas a tener snapshots de bases SQLite o backups aquí, ignóralos:
//prisma/*.db
//prisma/*.sqlite



# Logs
*.log
npm-debug.log*

# Build o dist (si usas transpilers más adelante)
/dist/
/build/

# IDEs / Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

pets
